<footer class="site-footer">
  <div class="footer-container">
    <div class="footer-col about">
      <img src="assets/images/logo-footer.png" alt="Logo Centro Técnico Ortopédico" class="footer-logo">
      <p>
        Estamos dedicados a ofrecer soluciones de bienestar a la población con limitaciones físicas a través de vínculos comerciales y relaciones basadas en principios éticos.
      </p>
    </div>

    <div class="footer-col">
      <h4>Encuéntranos</h4>
      <ul>
        <strong class="lio">Sede Norte: </strong>
        <li>Calle 126 No. 7b 65.</li>
        <a href="https://wa.me/573014561279" target="_blank" rel="noopener noreferrer">
          Tel: +57 3014561279
        </a>
        <li></li>
        <strong class="lio">Sede Roosevelt:</strong>
        <li> Cra. 4 Este No. 17 50.</li>
        <a href="https://wa.me/573213212208" target="_blank" rel="noopener noreferrer">
            Tel: +57 321 321 2208
         </a>
      </ul>
    </div>

    <div class="footer-col">
      <h4>Contáctanos</h4>
      <ul>
        <strong>Email: </strong>
        <li> <a href="mailto:ctortopedico@gmail.com">
          <img src="assets/icons/email.png" alt="Icono Email" class="icon">ctortopedico@gmail.com
        </a></li> 
      </ul>
    </div>

    <div class="footer-col">
      <h4>Síguenos</h4>
      <a href="https://www.instagram.com/centrotecnicortopedicosas" target="_blank" class="social-link">
        <svg xmlns="http://www.w3.org/2000/svg" class="icon" viewBox="0 0 24 24"><path d="M7.8,2H16.2C19.4,2 22,4.6 22,7.8V16.2A5.8,5.8 0 0,1 16.2,22H7.8C4.6,22 2,19.4 2,16.2V7.8A5.8,5.8 0 0,1 7.8,2M7.6,4A3.6,3.6 0 0,0 4,7.6V16.4C4,18.39 5.61,20 7.6,20H16.4A3.6,3.6 0 0,0 20,16.4V7.6C20,5.61 18.39,4 16.4,4H7.6M17.25,5.5A1.25,1.25 0 0,1 18.5,6.75A1.25,1.25 0 0,1 17.25,8A1.25,1.25 0 0,1 16,6.75A1.25,1.25 0 0,1 17.25,5.5M12,7A5,5 0 0,1 17,12A5,5 0 0,1 12,17A5,5 0 0,1 7,12A5,5 0 0,1 12,7M12,9A3,3 0 0,0 9,12A3,3 0 0,0 12,15A3,3 0 0,0 15,12A3,3 0 0,0 12,9Z" /></svg>
        @centrotecnicortopedicosas
      </a>
    </div>
  </div>
</footer>